/*  your css code here. If applicable */
:root {
    background-color: rgb(135, 206, 235);
}
p:first-child {
    color: white;
    background-color: black;
}

p:nth-child(2) {
    /* standard text color, depends on what you define as standard. Let's say it's black */
    color: black;
}

p:last-child {
    color: red;
}