/*  your css code here. If applicable */
:root {
    background-color: rgb(135, 206, 235);
}

#list{
	border: 1px;
}

p:first-child {
    color: white;
    background-color: black;
}

p:nth-child(2) {
    /* standard text color */
	 color: black;
}

p:last-child {
    color: red;
}











