/*  your css code here. If applicable */
:root {
    background-color: rgb(135, 206, 235);
}
.first-child{
    color: white;
    background-color: black;
}

.nth-child(2) {
    /* standard text color, depends on what you define as standard. Let's say it's black */
    color: black;
}

.last-child {
    color: red;
}
#list{
	border: 1px;
}




